/* .section{
    transition-duration: 3s;
    width: 100%;
    height: 100vh;
    margin:0 ;
    padding: 0;
    top: 0;
    left: 0;
    } */

.scroll::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("back.png");
    background-attachment: fixed;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

li {
    list-style-type: none;
    list-style: none;
}


.system_modal{
    position: relative;
    top: 0;
    left: 0;
    scale: 0.8;
}

.twitter_top {
    scale: 0.8;
    top: 3px;
    left: 1840px;
    position: fixed;
    z-index: 9;
}

.band_top {
    scale: 0.8;
    top: 3px;
    left: 1790px;
    position: fixed;
    z-index: 9;
}

.eng_logo {
    scale: 0.6;
    top: -10px;
    left: 30px;
    position: fixed;
    z-index: 9;
}

.notice_text {
    position: absolute;
    top: 150px;
    left: 700px;
}

.notice_text_02 {
    position: absolute;
    top: 150px;
    left: 700px;
    display: none;
}

.notice_text_03 {
    position: absolute;
    top: 150px;
    left: 700px;
    display: none;
}

.notice_title {
    position: fixed;
    top: 150px;
    left: 150px;
}

.left_menu {
    position: fixed;
    top: 600px;
    left: 100px;
}

li {
    margin-bottom: 20px;
}

.nav {
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: black;
    position: fixed;
    z-index: 9;
    opacity: 90%;
}

.notice {
    scale: 0.7;
    position: fixed;
    top: 10px;
    left: 100px;
    margin: 0;
    padding: 0;
    z-index: 9;
}

.world {
    scale: 0.7;
    position: fixed;
    top: 10px;
    left: 220px;
    margin: 0;
    padding: 0;
    z-index: 9;
}

.position {
    scale: 0.7;
    position: fixed;
    top: 10px;
    left: 320px;
    margin: 0;
    padding: 0;
    z-index: 9;
}

.system {
    scale: 0.7;
    position: fixed;
    top: 10px;
    left: 420px;
    margin: 0;
    padding: 0;
    z-index: 9;
}


.container {
    scale: 0.9;
}

.first:hover {
    opacity: 70%;
    transition-duration: 0.5s;
}

.character:hover {
    opacity: 70%;
    transition-duration: 0.5s;
}

.running:hover {
    opacity: 70%;
    transition-duration: 0.5s;
}